#wrapper {margin-left: auto; margin-right: auto;}
body {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin: auto;}
header {background-color: #FFFFFF; background-image: url(images/logo.png); background-position: left; background-repeat: no-repeat;
    background-size: 200px; height: 45px; margin: 0; height: 75px;}
h1 {color: #FFFFFF; font-size: 100px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; position: relative; top: 50%; transform: translateY(-50%); margin: 0;}
h2 {color: #FFFFFF; margin: 0; font-size: xx-large; font-family: Tahoma; text-align: center;}
h3 {color: #FFFFFF; margin-bottom: 0; font-family: Tahoma; font-size: 22px;}

nav {color: #D92B35; text-align: right; font-size: medium; position: relative; top: 60%; transform: translateY(-40%); padding-right: 1em;}
nav a {text-decoration: none; color: #D92B35;}
nav a:link {color: #D92B35;}
nav a:visited {color: #D92B35;}
nav a:hover {color: #d4585e}

footer {background-color: #4B4B4B; color: #FFFFFF; text-align: center; font-style: italic; display: block; padding-bottom: 1em;}
footer a {color:#FFFFFF;}

.home {background-image: url(images/background.jpg); background-attachment: fixed; height: 1000px; overflow: hidden;}
.about {background-image: url(images/about.jpg); background-attachment: fixed; height: 600px; background-repeat: no-repeat; overflow: hidden;}
.alcohol {background-image: url(images/alcohol.jpg); background-attachment: fixed; height: 600px; background-repeat: no-repeat; overflow: hidden;}
.news {margin: auto; background-color: #8EC641; height: 350px; display: block; float: left; width: 50%; padding: 1em;}
    .news ul li {color: #FFFFFF; list-style-type: none; font-size: large;}
    .news ul li a {text-decoration: none; font-weight: bold;}
    .news ul li a:link {color: #FFFFFF;}
    .news ul li a:visited {color: #FFFFFF;}
    .news ul li a:hover {color: darkblue;}
.green {margin: auto; background-color: #8EC641; display: block; padding-top: 1em; padding-bottom: 1em; 
    padding-left: 10em; padding-right: 10em;}
.yellow {margin: auto; background-color: #F3A51F; display: block; clear: both; 
    padding-top: 1em; padding-bottom: 1em; padding-left: 10em; padding-right: 10em;}
.blue {margin: 0; background-color: #4EC5D7; display: block; clear: both;
    padding-top: 1em; padding-bottom: 1em; padding-left: 10em; padding-right: 10em;}
    .blue ol li {color: #FFFFFF;}
.purple {margin: 0; background-color: #8B5795; display: block; clear: both;
    padding-top: 1em; padding-bottom: 1em; padding-left: 10em; padding-right: 10em;}
.calendar {margin: auto; height: 350px; display: block; float: right; width: 50%; padding: 0;}
    .calendar iframe #calendarTitle {text-align: center;}
    .calendar iframe {display: block; width: 100%; height: 100%; border: none;}
.hub {margin: 0; background-color: #4EC5D7; display: block; clear: both;
    padding-top: 1em; padding-left: 10em; padding-right: 10em;}
    .hub img {width: 150px; height: 150px; float: left; padding-right: 1em; padding-bottom: 1em;}

/*
For hover effect: 
    .navbar li .dropdown-menu{ display: none; }
	.navbar li:hover .dropdown-menu{ display: block; }
	.navbar li .dropdown-menu{ margin-top:0; }
    .dropdown-submenu{
    position: relative;
    }
    .dropdown-submenu a:after{
        display: flex;
        flex-direction: column;
        position: absolute !important;
        margin-top: -30px;
        left: 100%;
    }
    .dropdown-submenu:hover .dropdown-submenu, .dropdown-submenu:focus .dropdown-submenu{
        display: flex;
        flex-direction: column;
        position: absolute !important;
        margin-top: -30px;
        left: 100%;
    }

*/
p {color: #FFFFFF; font-size: large; display: inline-block;}
    p a {text-decoration: none; font-weight: bold;}
    p a:link {color: #FFFFFF;}
    p a:visited {color: #FFFFFF;}
    p a:hover {color: darkblue;}

li {color: #FFFFFF;}
dl dt {color: #FFFFFF; font-weight: bold;}
dl dd {color: #FFFFFF;}
.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactForm iframe{
    background-color:#FFFFFF;   
}