*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav
{
    background-color: #6D7D8A;
    width: 100%;
    height: 10vh;
}

nav h1
{
    color: white;
}
footer /*change color*/
{
    color:#183981;
    background-color: #6D7D8A;
    width: 100%;
    height: 10vh;
}
.footerCopy{
    font-size:14px;
    line-height:1.5em;
}
.footerNav{
    font-size:14px;
    line-height:1.5em;
}
.footerContact{
    font-size:14px;
    line-height:1.5em;
}
footer span
{
    text-decoration: underline; 
}